# The Greedy Manager

A restaurant serves N different types of dishes, D1, D2, ... Dn. A group of K friends goes to the restaurant, deciding that they will altogether order 1 dish of each type (Hence N in total). They can order the dishes in any order.

The manager of a restaurant has come up with a strange billing policy. It creates a separate bill for each person, and accepts an order of only 1 dish at a time by a person. The initial prices of dishes are C1, C2 ... Cn rupees. Further, if a person who has already ordered i dishes orders the dish Dj, he will be charged  (i+1)*Cj rupees. There is no limit on how many dishes a person can order.

Having known this greedy billing policy of the hotel, the group of friends want to minimize their net expenditure. Your task is to help them find the minimum net amount they need to
spend to order 1 dish of each type altogether.

Input
The first line contains two space-separated integers describing the respective values of  N and K.
The second line contains  space-separated positive integers describing the respective C1, C2 ... Cn.

Output
Print the minimum cost to buy dishes as above.

##### Sample Input 1
##### 3 3
##### 2 5 6

Sample Output 1
13

Explanation 1
There are N=3 dishes with costs [2,5,6] and K=3 people in the group. If each person buys one type of dish, the total cost of prices paid is 2+5+6=13 rupees. Thus, we print 13  as our answer.


##### Sample Input 2
##### 3 2
##### 2 5 6

Sample Output 2
15

Explanation 2
There are N=3 dishes with costs [2,5,6] and K=2 people in the group. We can minimize the total purchase cost like so:

1. The first person purchases 2 dishes.He/she buys the more expensive dish D2 (C2=5) first at price (0+1)*5 = 5 rupees and the less expensive dish D1 (C1=2) second at price
(1 + 1)*2 = 4 rupees.
1. The second person buys the most expensive dish at price (0+1)*6 = 6 rupees. We then print the sum of these purchases, which is 5+4+6 = 15, as our answer.

In [31]:
#N = nnumber of dishes
#K = number of foodi
#C = price of dishes
N,K = map(int,input().split())
C = list(map(int,input().split()))
C.sort(reverse=True)
bill = [] # each customer's no of order and there charges
j = 0
for i in range(N):
    if j == K : j = 0
    if i <= K:
        bill.append([0,0])
    bill[j][1] += (bill[j][0] + 1) * C[i]
    bill[j][0] += 1
    j += 1
ans = 0
for i in bill:
    ans += i[1]
print (f"Answer : {ans}")

3 2
2 5 6
Answer : 15